@{
    ViewData["Title"] = "Conference Update";
}

<div class="text-center">
    <h3 class="display-4">Изменение конференции</h3>
</div>

<form method="post">
    <div class="row">
        <div class="col-4">Название конференции:</div>
        <div class="col-8"><input type="text" name="conferenceName" id="conferenceName" value="@ViewBag.Conference.Name" /></div>
    </div>
    <div class="row">
        <div class="col-4">Дата проведения:</div>
        <div class="col-8"><input type="datetime-local" name="conferenceDateOf" id="conferenceDateOf" value="@ViewBag.Conference.DateOf" /></div>
    </div>
    <div class="row">
        <div class="col-4">Номера под конференцию:</div>
        <div class="col-8">
            <select id="roomsId" name="roomsId" multiple="multiple" class="form-control" asp-items="@(new SelectList(@ViewBag.Rooms,"Id", "Number"))"></select>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Номера под конференцию
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Conference.ConferenceRooms)
            {
                <tr>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Сохранить" class="btn btn-success" /></div>
    </div>
</form>