@{
    ViewData["Title"] = "Report";
}

<div class="text-center">
    <h3 class="display-4">Отчет по конференциям</h3>
</div>

<form method="post">
    <br />
    <div class="text-center">
        <label for="date">С</label>
        <input type="date" id="dateFrom" name="dateFrom" />
        <label for="date">по</label>
        <input type="date" id="dateTo" name="dateTo" />
        <input type="submit" class="btn btn-info" asp-route-dateFrom="dateFrom" asp-route-dateTo="dateTo" asp-action="CreateConferencesReportToPDF" value="Показать" />
        <input type="submit" class="btn btn-primary" asp-route-dateFrom="dateFrom" asp-route-dateTo="dateTo" asp-action="SendByEmail" value="На почту" />
    </div>
    <br />
    @if (ViewBag.Report != null)
    {
        string period = ViewBag.Period;
        <div style="text-align:center">
            <label style="font-weight:bold">@period</label>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Дата проведения
                    </th>
                    <th>
                        Конференция
                    </th>
                    <th>
                        Семинары
                    </th>
                    <th>
                        Обеды
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Report)
                {
                    @for (int i = 0; i < item.SeminarLunches.Count; i++)
                    {
                        if (i == 0)
                        {
                            <tr>
                                <td>
                                    @item.DateOf
                                </td>
                                <td>
                                    @item.ConferenceName
                                </td>
                                <td>
                                    @item.SeminarLunches[i].Item1.Name
                                </td>
                                @{
                                    string lunches = "";
                                }
                                @foreach (var lunch in @item.SeminarLunches[i].Item2)
                                {
                                    lunches += lunch.Name + ", ";
                                }
                                <td>
                                    @lunches
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    @item.SeminarLunches[i].Item1.Name
                                </td>
                                @{
                                    string lunches = "";
                                }
                                @foreach (var lunch in @item.SeminarLunches[i].Item2)
                                {
                                    lunches += lunch.Name + ", ";
                                }
                                <td>
                                    @lunches
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
</form>